body {
    background-color: #fbe7e7; /* Warna pink soft */
    color: #333;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: #ff7eb3;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

a {
    color: #ff5a92;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
